<template name="postList">
    {{#if currentUser}}
        {{> insertPostForm}}
    {{/if}}
    <div class="list-group">
    {{#each posts}}
        <a class="list-group-item" href="{{pathFor "postDetail"}}">
            <div class="list-group-item-heading">
                <h4>{{title}}</h4>
            </div>
            <div class="pull-right">
                By - {{#unless author.username}}{{author.profile.name}}{{/unless}}{{author.username}}
            </div>
            <div class="bottom-left">
                Comments <span class="badge">{{comments.length}}</span>
            </div>
        </a>
    {{/each}}
    </div>
</template>