<template name="postDetail">
    <div>
        <h1 class="page-header">{{title}} <small class="pull-right">By - {{author.username}}</small></h1>
    </div>
    <div>
        <p>{{body}}</p>
    </div>
    {{#if isOwner}}
    {{> updatePostForm}}
    {{/if}}
    <h1 class="page-header text-center">Comments</h1>
<div class="col-lg-10 col-lg-offset-1">
    <div class="list-group">
        {{#each comments}}
            {{> commentDetail}}
        {{/each}}
    </div>
</div>
    <div class="col-lg-8 col-lg-offset-2">
        {{> commentsForm}}
    </div>
</template>