<template name="chatDetail">
    <div class="page-header">Chatting with {{#unless chatTo.username}}{{chatTo.profile.name}}{{/unless}} {{chatTo.username}}<span class="pull-right">    <button class="toggle-archive btn btn-default">
        {{#if archive}}
            Reopen
        {{else}}
            Archive
        {{/if}}
    </button></span>
    </div>
    <div class="list-group">
        {{#each messages}}
            {{> messageDetail}}
        {{/each}}
    </div>
    {{>messageForm}}

</template>

<template name="messageDetail">
    <div class="list-group-item {{#if myComment}}list-group-item-info{{/if}}">
    <div class="media">
        <div class="media-left">
        <img class="media-object img-circle" width="65" src="{{profileImage author._id}}">
        </div>
        <div class="media-body">
            {{message}} <div class="pull-right"><strong>{{#unless author.username}}{{author.profile.name}}{{/unless}}
            {{author.username}}</strong><br>
            <p>{{formatDateTime createdAt}}</p></div>
        </div>
    </div>
    </div>
</template>